body,div {
    margin: 0;
    padding: 0;
    border: 0;
}

.postion-relative {
    position: relative;
}

.bg-white {
    background-color: #FFF;
}

.bg-orange {
    background-color: #FF960F;
}

.margin-32px {
    margin: 32px;
}

.margin-l-32px {
    margin-left: 32px;
}

.padding-32px {
    padding: 32px;
}

.padding-16px {
    padding: 16px;
}

.padding-l-4px {
    padding-bottom: 4px;
}

.padding-l-8px {
    padding-bottom: 8px;
}

.padding-r-32px {
    padding-right: 32px;
}

.padding-u-32px {
    padding-top: 32px;
}

.padding-l-32px {
    padding-bottom: 32px;
}

.padding-ud-32px {
    padding-top: 32px;
    padding-bottom: 32px;
}

.overflow-hidden {
    overflow: hidden;
}

.box-shadow-header {
    box-shadow: 
        0px 15px 20px 0px #00000025,
        0px 0px 5px 0px #00000050;
}