@font-face {
    font-family: SourceHan_CN_Heavy;
    src: url(../test-resource/SourceHanSansCN-Heavy.otf);
}

@font-face {
    font-family: SourceHan_CN_Medium;
    src: url(../test-resource/SourceHanSansCN-Medium.otf);
}

@font-face {
    font-family: SourceHan_CN_Bold;
    src: url(../test-resource/SourceHanSansCN-Bold.otf);
}

.frame-basebg {
    font-family: SourceHan_CN_Heavy;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.panel {
    border-radius: 32px;
}

.menu {
    
}

.menu-item {

}