@font-face {
    font-family: SourceHan_CN_Heavy;
    src: url(../test-resource/SourceHanSansCN-Heavy.otf);
}

.frame-basebg {
    font-family: SourceHan_CN_Heavy;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.frame-base {
    box-sizing: border-box;
}

.panel {
    border-radius: 32px;
}

.frame-d-flex {
    display: flex;
}

.frame-flex1 {
    flex: 1;
}

.frame-df-direction-row {
    flex-direction: row;
}

.frame-df-direction-column {
    flex-direction: column;
}

.frame-df-align-content-center {
    align-content: center;
}

.frame-df-warp {
    flex-wrap: wrap;
}

.frame-colornbg3 {
    background-color: #f5f5f5;
}

.frame-w-2 {
    width: 20%
}

.frame-w-8 {
    width: 80%
}

.frame-w-10 {
    width: 100%;
}

.frame-abs-w-128 {
    width: 128px;
}

.frame-w-auto {
    width: auto;
}

.frame-h-1 {
    height: 10%
}

.frame-h-9 {
    height: 90%;
}

.frame-h-10 {
    height: 100%;
}

.frame-abs-h-128 {
    height: 128px;
}

.frame-h-auto {
    height: auto;
}

.frame-border-radius-100 {
    border-radius: 100%;
}

.frame-font-size-32 {
    font-size: 32px;
    line-height: 36px;
}

.frame-font-size-48 {
    font-size: 48px;
    line-height: 52px;
}