@font-face {
    font-family: SourceHan_CN_Heavy;
    src: url(../test-resource/SourceHanSansCN-Heavy.otf);
}

@font-face {
    font-family: SourceHan_CN_Medium;
    src: url(../test-resource/SourceHanSansCN-Medium.otf);
}

@font-face {
    font-family: SourceHan_CN_Bold;
    src: url(../test-resource/SourceHanSansCN-Bold.otf);
}

img {
    -webkit-user-drag: none;
}

@media screen and (max-width: 960px){

    .frame-body.frame-dynamic-body-direction {
        flex-direction: column;
    }

    .frame-header.box-shadow > .search,
    .frame-header.box-shadow > .menu,
    .frame-header.box-shadow > .frame-header-search,
    .menu-setting {
        display: none;
    }

    .menu {
        box-sizing: border-box;
        height: fit-content !important;
        height: -moz-fit-content !important;
        min-width: 0 !important;
        width: 100% !important;
        padding: 16px 16px 0 16px !important;
    }

    .menu-item.profile-simplify {
        padding: 0 !important;
    }

    .panel {
        min-width: 0;
        padding: 16px;
    }
    
}

@media screen and (min-width: 960px){
    
    .frame-body.frame-dynamic-body-direction {
        flex-direction: row;
    }

    .menu-setting {
        width: 100%;
        height: 100%;
        font-family: SourceHan_CN_Bold;
    }

    .panel {
        min-width: 512px;
        padding: 32px;
    }    

}

body {
    font-family: SourceHan_CN_Heavy;
}

.frame-base {
    background-color: #fafafa;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    overflow: hidden;
}

.frame-header {
    width: 100%;
    height: 64px;
    position: relative;
    display: flex;
}

.frame-header.box-shadow {
    box-shadow: 
        0px 15px 20px 0px #00000025,
        0px 0px 5px 0px #00000050;
}

.frame-header.box-shadow > div {
    box-sizing: border-box;
    width: 50%;
    height: 100%;
    padding: 16px 0 16px 0;
}

.frame-header.box-shadow > .menu {

}

.frame-header.box-shadow > .search {
    display: flex;
    justify-content: flex-end;
    padding-right: 16px;
}

.frame-header.box-shadow > .search > div {
    box-sizing: border-box;
    width: 256px;
    height: 100%;
    border: 2px solid #24242450;
    border-radius: 8px;
    padding: 0 8px 0 8px;
    overflow: hidden;
}

.frame-header.box-shadow > .search > div > input {
    line-height: 0px;
    border: none;
    width: 100%;
    height: 100%;
}

.frame-body {
    display: flex;
    flex: 1;
}

.panel {
    flex: 1;
}

.content {
    border-radius: 32px;
    width: 100%;
    height: 100%;
}

.menu {
    min-width: 256px;
    width: 256px;
    height: 100%;
    padding: 0 0 0 32px;
}

.menu-item.profile-simplify {
    display: flex;
    width: 100%;
    height: 96px;
    margin: 16px 0 16px 0 !important;
    padding: 0;
}

.menu-item.profile-simplify > .profile-pic {
    width: fit-content;
    width: -moz-fit-content;
    height: 100%;
}

.menu-item.profile-simplify > .profile-pic > img {
    height: 100%;
    width: 100%;
    border-radius: 100%;
}

.menu-item.profile-simplify > .profile-simplify-text{
    align-content: center;
    font-size: 24px;
    line-height: 26px;
}

.menu-item {
    height: 24px;
    border-radius: 16px;
    padding: 12px;
    margin-bottom: 8px;
}

.menu-item > a > img {
    margin-right: 8px;
}


.menu-item.selected {
    position: relative;
    box-shadow: 0 0 8px 0 #00000025;
    border-radius: 8px;
}

.menu-item.selected::before {
    content: '';
    display: block;
    width: 2px;
    height: 16px; 
    background-color: #000; 
    position: absolute;
    left: 0px; 
    top: 50%;
    transform: translateY(-50%);
}

.menu-item:hover {
    background-color: #f0f0f0;
}

.menu-item > a {
    height: 100%;
    display: flex;
    flex-direction: row;
}